.version.m_dia /* version checker */
{
	color: #000019;
	background-color: #F65979;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1290.902491103203px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content,#paccordionu1862
{
	width: 0.01px;
}

#accordionu1862
{
	z-index: 2;
}

#u1863
{
	z-index: 3;
}

#u1866-3
{
	z-index: 4;
	min-height: 49px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u1866-3:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 49px;
	margin: 0px;
}

#u1866-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 49px;
	margin: 0px;
}

#u1866-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 51px;
	margin: 0px;
}

#u1864
{
	z-index: 7;
}

#u1914
{
	min-height: 25px;
	padding-bottom: 26px;
}

#u1914:active
{
	min-height: 25px;
	margin: 0px;
}

#u1917-4
{
	min-height: 25px;
	top: 13px;
}

#u1914:active #u1917-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px;
}

#u1921
{
	min-height: 25px;
	padding-bottom: 26px;
}

#u1914.MuseMenuActive,#u1921:active
{
	min-height: 25px;
	margin: 0px;
}

#u1923-4
{
	min-height: 25px;
	top: 13px;
}

#u1914.MuseMenuActive #u1917-4,#u1921:active #u1923-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px;
}

#u1928
{
	min-height: 25px;
	padding-bottom: 26px;
}

#u1921.MuseMenuActive,#u1928:active
{
	min-height: 25px;
	margin: 0px;
}

#u1931-4
{
	min-height: 25px;
	top: 13px;
}

#u1921.MuseMenuActive #u1923-4,#u1928:active #u1931-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px;
}

#u1935
{
	min-height: 25px;
	padding-bottom: 27px;
}

#u1928.MuseMenuActive,#u1935:active
{
	min-height: 25px;
	margin: 0px;
}

#u1937-4
{
	min-height: 25px;
	top: 13px;
}

#u1928.MuseMenuActive #u1931-4,#u1935:active #u1937-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px;
}

#u1944
{
	min-height: 25px;
	padding-bottom: 27px;
}

#u1935.MuseMenuActive,#u1944:active
{
	min-height: 25px;
	margin: 0px;
}

#u1944.MuseMenuActive
{
	min-height: 25px;
	margin: 0px;
}

#u1947-4
{
	min-height: 25px;
	top: 13px;
}

#u1935.MuseMenuActive #u1937-4,#u1944:active #u1947-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px;
}

#u1944.MuseMenuActive #u1947-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px;
}

#u1920,#u1927,#u1934,#u1941
{
	margin-top: 2px;
}

#menuu1912,#menuu1912-bw
{
	z-index: 8;
	min-height: 275px;
}

#accordionu1862-bw
{
	z-index: 2;
	margin-bottom: -1px;
	margin-top: -1px;
}

#u1877-6
{
	z-index: 39;
	width: 187px;
	min-height: 71px;
	margin-right: -10000px;
	left: 97px;
}

#u1878
{
	z-index: 45;
	width: 92px;
	margin-right: -10000px;
	left: 2px;
}

#u1881
{
	z-index: 47;
	width: 71px;
	margin-right: -10000px;
	left: 296px;
}

#u2079-4
{
	z-index: 89;
	width: 340px;
	min-height: 42px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 34px;
	line-height: 41px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 35px;
	position: relative;
}

#pamphletu2053
{
	z-index: 70;
	width: 0.01px;
	height: 1012px;
	margin-top: 35px;
	position: relative;
}

#u2060
{
	z-index: 71;
	width: 379px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u2062
{
	position: absolute;
	width: 377px;
	height: 343px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background: #DEDEDE url("../../images/1.jpg") no-repeat center bottom;
	background-size: cover;
}

#u2063
{
	position: absolute;
	width: 281px;
	height: 121px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	top: 576px;
	left: 49px;
	background: transparent url("../../images/2.jpg") no-repeat center center;
	background-size: cover;
}

#u2064
{
	position: absolute;
	width: 281px;
	height: 121px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	top: 733px;
	left: 49px;
	background: transparent url("../../images/3.jpg") no-repeat center center;
	background-size: cover;
}

#u2061
{
	position: absolute;
	width: 281px;
	height: 121px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	top: 890px;
	left: 49px;
	background: transparent url("../../images/5.jpg") no-repeat center center;
	background-size: cover;
}

#u2065
{
	position: absolute;
	width: 820px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: 42px;
	left: 38px;
	-pie-background: rgba(0,0,0,0.9);
}

#u2065popup
{
	z-index: 76;
}

#u2075
{
	z-index: 77;
	width: 776px;
	height: 583px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2076
{
	z-index: 78;
	width: 772px;
	min-height: 438px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u2069
{
	z-index: 79;
	width: 776px;
	height: 583px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2070
{
	z-index: 80;
	width: 772px;
	min-height: 467px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2072
{
	z-index: 81;
	width: 776px;
	height: 583px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2073
{
	z-index: 82;
	width: 772px;
	min-height: 583px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2066
{
	z-index: 83;
	width: 776px;
	height: 583px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2067
{
	z-index: 84;
	width: 772px;
	min-height: 583px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u2078-4
{
	z-index: 85;
	width: 378px;
	min-height: 95px;
	background-color: transparent;
	color: #7F7F7F;
	text-indent: 4px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	top: -648px;
	margin-bottom: -170px;
	position: relative;
}

#pu1988
{
	width: 0.01px;
	margin-top: 25px;
}

#u1988
{
	z-index: 49;
	min-height: 52.97499999999991px;
	padding: 4px 119px 14.025000000000091px 2px;
}

#u1990-6
{
	z-index: 57;
	width: 143px;
	min-height: 29px;
	margin-left: 116px;
}

#u1993
{
	z-index: 69;
	width: 171px;
	min-height: 24px;
}

#u1988-bw
{
	z-index: 49;
	min-height: 52.97499999999991px;
}

#u1989-7
{
	z-index: 50;
	min-height: 10px;
}

#u1989-7-bw
{
	z-index: 50;
	min-height: 10px;
	margin-top: 58px;
}

#u1991-6
{
	z-index: 63;
	width: 143px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 237px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

