.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u162-3,#u162-5,#u162-6,#u162-8,#u162-10
{
	font-family: montserrat-n4, sans-serif;
}

#u135-4
{
	font-family: chivo-n4, sans-serif;
}

#u131-4
{
	font-family: chivo-n4, sans-serif;
}

#u143-4
{
	font-family: chivo-n4, sans-serif;
}

#u152-4
{
	font-family: chivo-n4, sans-serif;
}

#u465-4
{
	font-family: chivo-n4, sans-serif;
}

#u157-4
{
	font-family: chivo-n4, sans-serif;
}

#u1249-6,#u1251-6,#u609-7,#u1250-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u621-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

