.version.index /* version checker */
{
	color: #000009;
	background-color: #21BA27;
}

.html
{
	background: #FFFFFF url("../images/326.jpg") no-repeat center center fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 1316.5481794853144px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

.OverFundoTexto
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -281px;
	padding-bottom: 20px;
	width: 0.01px;
}

#u119-6
{
	z-index: 3;
	width: 368px;
	min-height: 83px;
	margin-right: -10000px;
	margin-top: 66px;
	left: 314px;
}

#u162-13
{
	z-index: 9;
	width: 262px;
	min-height: 122px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 762px;
}

#u451
{
	z-index: 24;
	width: 1024px;
	padding-bottom: 5px;
	margin-right: -10000px;
	margin-top: 186px;
}

#menuu125
{
	z-index: 25;
	width: 1024px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u133
{
	width: 203px;
	min-height: 71px;
	margin-right: -10000px;
}

#u134
{
	width: 203px;
	padding-bottom: 45px;
}

#u134:hover
{
	width: 203px;
	min-height: 0px;
	margin: 0px;
}

#u135-4
{
	width: 203px;
	min-height: 26px;
	margin-right: -10000px;
	top: 22px;
}

#u134:hover #u135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 203px;
	margin: 0px -10000px 0px 0px;
}

#u126
{
	width: 203px;
	min-height: 71px;
	margin-right: -10000px;
	left: 205px;
}

#u129
{
	width: 203px;
	padding-bottom: 45px;
}

#u134.MuseMenuActive,#u129:hover
{
	width: 203px;
	min-height: 0px;
	margin: 0px;
}

#u131-4
{
	width: 203px;
	min-height: 26px;
	margin-right: -10000px;
	top: 22px;
}

#u134.MuseMenuActive #u135-4,#u129:hover #u131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 203px;
	margin: 0px -10000px 0px 0px;
}

#u141
{
	width: 203px;
	min-height: 71px;
	margin-right: -10000px;
	left: 410px;
}

#u142
{
	width: 203px;
	padding-bottom: 45px;
}

#u129.MuseMenuActive,#u142:hover
{
	width: 203px;
	min-height: 0px;
	margin: 0px;
}

#u143-4
{
	width: 203px;
	min-height: 26px;
	margin-right: -10000px;
	top: 22px;
}

#u129.MuseMenuActive #u131-4,#u142:hover #u143-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 203px;
	margin: 0px -10000px 0px 0px;
}

#u142.MuseMenuActive #u143-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 203px;
	margin: 0px -10000px 0px 0px;
}

#u148
{
	width: 203px;
	min-height: 71px;
	margin-right: -10000px;
	left: 615px;
}

#u149
{
	width: 203px;
	padding-bottom: 45px;
}

#u142.MuseMenuActive,#u149:hover
{
	width: 203px;
	min-height: 0px;
	margin: 0px;
}

#u149.MuseMenuActive
{
	width: 203px;
	min-height: 0px;
	margin: 0px;
}

#u152-4
{
	width: 189px;
	min-height: 26px;
	margin-right: -10000px;
	top: 22px;
}

#u149:hover #u152-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u149.MuseMenuActive #u152-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u151
{
	z-index: 50;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 28px;
	left: 189px;
}

#u149:hover #u151
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u149.MuseMenuActive #u151
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u153
{
	width: 204px;
	top: 71px;
}

#u154,#u462
{
	width: 204px;
}

#u463
{
	width: 204px;
	padding-bottom: 43px;
	margin-right: -10000px;
}

#u463:hover
{
	width: 204px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u463.MuseMenuActive
{
	width: 204px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u465-4
{
	width: 196px;
	min-height: 24px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 21px;
	left: 2px;
}

#u463:hover #u465-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 196px;
	margin: 0px -10000px 0px 0px;
}

#u463.MuseMenuActive #u465-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 196px;
	margin: 0px -10000px 0px 0px;
}

#u155
{
	width: 204px;
	min-height: 71px;
	margin-right: -10000px;
	left: 820px;
}

#u156
{
	width: 204px;
	padding-bottom: 45px;
}

#u156:hover
{
	width: 204px;
	min-height: 0px;
	margin: 0px;
}

#u156.MuseMenuActive
{
	width: 204px;
	min-height: 0px;
	margin: 0px;
}

#u157-4
{
	width: 204px;
	min-height: 26px;
	margin-right: -10000px;
	top: 22px;
}

#u156:hover #u157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u156.MuseMenuActive #u157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u1111
{
	z-index: 75;
	width: 262px;
	margin-right: -10000px;
	left: 111px;
}

#u452
{
	z-index: 22;
	width: 1024px;
	top: -5px;
	margin-bottom: -5px;
}

#slideshowu366
{
	z-index: 97;
	width: 0.01px;
	height: 390px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u368
{
	position: absolute;
	width: 1024px;
	height: 389px;
	background-color: transparent;
}

#u368popup
{
	z-index: 98;
}

#u369
{
	z-index: 99;
	width: 1024px;
	height: 389px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u369_img
{
	margin: -14px -3px -13px;
}

#u424
{
	z-index: 101;
	width: 1024px;
	height: 389px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u433
{
	z-index: 103;
	width: 1024px;
	height: 389px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u369_clip,#u424_clip,#u433_clip
{
	overflow: hidden;
	width: 1024px;
	height: 389px;
}

#u424_img,#u433_img
{
	margin-top: -12px;
	margin-bottom: -13px;
}

#u386
{
	position: absolute;
	width: 965px;
	background-color: transparent;
	top: 348px;
	left: 30px;
}

#u386popup
{
	z-index: 105;
}

#u387-4
{
	z-index: 106;
	width: 945px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: #928B87;
	background-color: rgba(83,71,65,0.63);
	padding: 10px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(83,71,65,0.63);
}

#u430-4
{
	z-index: 110;
	width: 945px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: #928B87;
	background-color: rgba(83,71,65,0.63);
	padding: 10px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(83,71,65,0.63);
}

#u439-4
{
	z-index: 114;
	width: 945px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: #928B87;
	background-color: rgba(83,71,65,0.63);
	padding: 10px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(83,71,65,0.63);
}

#u384-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 349px;
}

#u384-4popup
{
	z-index: 118;
}

#u384
{
	color: #999999;
}

#u382-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 348px;
	left: 994px;
}

#u382-4popup
{
	z-index: 122;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu117
{
	width: 0.01px;
	margin-top: -390px;
}

#u117
{
	z-index: 2;
	width: 1024px;
	padding-bottom: 47px;
	margin-right: -10000px;
}

#pu1607
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 619px;
	margin-left: 42px;
}

#u1607
{
	z-index: 147;
	width: 280px;
	position: relative;
	background: transparent url("../images/lady-justice-statue.png") no-repeat center center;
	background-size: contain;
}

#u1607:hover
{
	width: 280px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/lady-justice-statue.png") no-repeat center center;
	background-size: contain;
}

#u1681
{
	z-index: 175;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1681:hover
{
	background-color: #CCA67D;
	background-color: rgba(198,156,109,0.89);
	width: 280px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(198,156,109,0.89);
}

#u1682-5
{
	z-index: 176;
	width: 280px;
	min-height: 140px;
	border-style: none;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #FFFFFF;
	font-size: 35px;
	text-align: center;
	line-height: 42px;
	position: relative;
	margin-right: -10000px;
}

#u1682-5:hover
{
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 140px;
	width: 280px;
	margin: 0px -10000px 0px 0px;
}

#u1682-3
{
	font-weight: bold;
}

#u1617-6
{
	z-index: 149;
	width: 280px;
	min-height: 266px;
	line-height: 17px;
	margin-top: 9px;
	position: relative;
}

#pu1703
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 619px;
	margin-left: 372px;
}

#u1703
{
	z-index: 181;
	width: 280px;
	height: 140px;
	position: relative;
	background: transparent url("../images/banner.jpg") no-repeat left top;
	background-size: cover;
}

#u1644-7
{
	z-index: 162;
	width: 280px;
	min-height: 272px;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
}

#pu1639
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 619px;
	margin-left: 702px;
}

#u1639
{
	z-index: 148;
	width: 280px;
	position: relative;
	background: transparent url("../images/justice-scales.png") no-repeat center center;
	background-size: contain;
}

#u1639:hover
{
	width: 280px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/justice-scales.png") no-repeat center center;
	background-size: contain;
}

#u1674
{
	z-index: 169;
	width: 276px;
	height: 140px;
	background-color: #603813;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
}

#u1674:hover
{
	background-color: #714D2C;
	background-color: rgba(96,56,19,0.89);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 276px;
	height: 140px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(96,56,19,0.89);
}

#u1640-7
{
	z-index: 155;
	width: 280px;
	min-height: 272px;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
}

#u1644-2,#u1644-4,#u1640-2,#u1640-4
{
	line-height: 17px;
}

#pamphletu524
{
	z-index: 126;
	width: 0.01px;
	height: 137px;
	position: relative;
	margin-right: -10000px;
	margin-top: 436px;
	left: 81px;
}

#u534
{
	z-index: 127;
	width: 109px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
	left: 377px;
}

#u535
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 100px;
}

#u535:hover
{
	background-color: #7F7F7F;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u535.PamphletThumbSelected
{
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 50px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u536
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 100px;
	left: 50px;
}

#u536:hover
{
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u537
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 100px;
	left: 100px;
}

#u537:hover
{
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u537:active
{
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u536.PamphletThumbSelected,#u537.PamphletThumbSelected
{
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u527
{
	position: absolute;
	width: 861px;
	background-color: transparent;
}

#u527popup
{
	z-index: 131;
}

#u532
{
	z-index: 132;
	width: 861px;
	height: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107,107,107,0.01);
}

#u533-4
{
	z-index: 133;
	width: 851px;
	min-height: 60px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 40px;
	line-height: 48px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u530
{
	z-index: 137;
	width: 861px;
	height: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107,107,107,0.01);
}

#u531-4
{
	z-index: 138;
	width: 851px;
	min-height: 60px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 40px;
	line-height: 48px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u528
{
	z-index: 142;
	width: 861px;
	height: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107,107,107,0.01);
}

#u529-4
{
	z-index: 143;
	width: 851px;
	min-height: 60px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 40px;
	line-height: 48px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u1675-5
{
	z-index: 170;
	width: 280px;
	min-height: 140px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #FFFFFF;
	font-size: 35px;
	text-align: center;
	line-height: 42px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 619px;
	left: 702px;
}

#u1675-5:hover
{
	background-color: #714D2C;
	background-color: rgba(96,56,19,0.89);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 140px;
	width: 280px;
	margin: 619px -10000px 0px 0px;
	-pie-background: rgba(96,56,19,0.89);
}

#pu119-6,#pu459
{
	width: 0.01px;
}

#u459
{
	z-index: 65;
	width: 984px;
	margin-right: -10000px;
	padding: 22px 22px 2px 18px;
}

#pu512
{
	width: 0.01px;
	margin-left: 44px;
}

#u512
{
	z-index: 66;
	width: 422px;
	min-height: 100px;
	margin-right: -10000px;
	margin-top: 14px;
}

#u1433
{
	z-index: 95;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 520px;
}

#u1433:hover
{
	width: 60px;
	height: 58px;
	min-height: 0px;
	margin: 49px -10000px 0px 0px;
}

#pu1249-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 740px;
}

#u1249-6
{
	z-index: 77;
	width: 200px;
	min-height: 50px;
}

#u1251-6
{
	z-index: 89;
	width: 200px;
	min-height: 50px;
	margin-top: 7px;
}

#u609-7
{
	z-index: 68;
	width: 980px;
	min-height: 26px;
	margin-top: 47px;
}

#u518
{
	z-index: 67;
	width: 220px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 122px;
	left: 62px;
}

#u1250-6
{
	z-index: 83;
	width: 200px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 136px;
	left: 802px;
}

#u1436
{
	z-index: 96;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
	margin-top: 71px;
	left: 382px;
}

#u1436:hover
{
	width: 60px;
	height: 58px;
	min-height: 0px;
	margin: 71px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 304px;
}

#page .verticalspacer
{
	clear: both;
}

