.version.m_dia /* version checker */
{
	color: #000007;
	background-color: #10E8D2;
}

.html
{
	background: #FFFFFF url("../images/326.jpg") no-repeat center center fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 1148.5481794853144px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -281px;
	padding-bottom: 20px;
	width: 0.01px;
}

#u119-6
{
	z-index: 3;
	width: 368px;
	min-height: 83px;
	margin-right: -10000px;
	margin-top: 66px;
	left: 314px;
}

#u162-13
{
	z-index: 9;
	width: 262px;
	min-height: 122px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 762px;
}

#u451
{
	z-index: 24;
	width: 1024px;
	padding-bottom: 5px;
	margin-right: -10000px;
	margin-top: 186px;
}

#menuu125
{
	z-index: 25;
	width: 1024px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u133
{
	width: 203px;
	min-height: 71px;
	margin-right: -10000px;
}

#u134
{
	width: 203px;
	padding-bottom: 45px;
}

#u134:hover
{
	width: 203px;
	min-height: 0px;
	margin: 0px;
}

#u135-4
{
	width: 203px;
	min-height: 26px;
	margin-right: -10000px;
	top: 22px;
}

#u134:hover #u135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 203px;
	margin: 0px -10000px 0px 0px;
}

#u126
{
	width: 203px;
	min-height: 71px;
	margin-right: -10000px;
	left: 205px;
}

#u129
{
	width: 203px;
	padding-bottom: 45px;
}

#u134.MuseMenuActive,#u129:hover
{
	width: 203px;
	min-height: 0px;
	margin: 0px;
}

#u131-4
{
	width: 203px;
	min-height: 26px;
	margin-right: -10000px;
	top: 22px;
}

#u134.MuseMenuActive #u135-4,#u129:hover #u131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 203px;
	margin: 0px -10000px 0px 0px;
}

#u141
{
	width: 203px;
	min-height: 71px;
	margin-right: -10000px;
	left: 410px;
}

#u142
{
	width: 203px;
	padding-bottom: 45px;
}

#u129.MuseMenuActive,#u142:hover
{
	width: 203px;
	min-height: 0px;
	margin: 0px;
}

#u143-4
{
	width: 203px;
	min-height: 26px;
	margin-right: -10000px;
	top: 22px;
}

#u129.MuseMenuActive #u131-4,#u142:hover #u143-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 203px;
	margin: 0px -10000px 0px 0px;
}

#u142.MuseMenuActive #u143-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 203px;
	margin: 0px -10000px 0px 0px;
}

#u148
{
	width: 203px;
	min-height: 71px;
	margin-right: -10000px;
	left: 615px;
}

#u149
{
	width: 203px;
	padding-bottom: 45px;
}

#u142.MuseMenuActive,#u149:hover
{
	width: 203px;
	min-height: 0px;
	margin: 0px;
}

#u149.MuseMenuActive
{
	width: 203px;
	min-height: 0px;
	margin: 0px;
}

#u152-4
{
	width: 189px;
	min-height: 26px;
	margin-right: -10000px;
	top: 22px;
}

#u149:hover #u152-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u149.MuseMenuActive #u152-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u151
{
	z-index: 50;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 28px;
	left: 189px;
}

#u149:hover #u151
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u149.MuseMenuActive #u151
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u153
{
	width: 204px;
	top: 71px;
}

#u154,#u462
{
	width: 204px;
}

#u463
{
	width: 204px;
	padding-bottom: 43px;
	margin-right: -10000px;
}

#u463:hover
{
	width: 204px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u463.MuseMenuActive
{
	width: 204px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u465-4
{
	width: 196px;
	min-height: 24px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 21px;
	left: 2px;
}

#u463:hover #u465-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 196px;
	margin: 0px -10000px 0px 0px;
}

#u463.MuseMenuActive #u465-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 196px;
	margin: 0px -10000px 0px 0px;
}

#u155
{
	width: 204px;
	min-height: 71px;
	margin-right: -10000px;
	left: 820px;
}

#u156
{
	width: 204px;
	padding-bottom: 45px;
}

#u156:hover
{
	width: 204px;
	min-height: 0px;
	margin: 0px;
}

#u156.MuseMenuActive
{
	width: 204px;
	min-height: 0px;
	margin: 0px;
}

#u157-4
{
	width: 204px;
	min-height: 26px;
	margin-right: -10000px;
	top: 22px;
}

#u156:hover #u157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u156.MuseMenuActive #u157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u1111
{
	z-index: 75;
	width: 262px;
	margin-right: -10000px;
	left: 111px;
}

#u452
{
	z-index: 22;
	width: 1024px;
	top: -5px;
	margin-bottom: -5px;
}

#pu117
{
	width: 0.01px;
	margin-top: -3px;
}

#u117
{
	z-index: 2;
	width: 1024px;
	padding-bottom: 333px;
	margin-right: -10000px;
}

#u1212-4
{
	z-index: 128;
	width: 340px;
	min-height: 42px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 34px;
	line-height: 41px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 62px;
}

#u1243-4
{
	z-index: 124;
	width: 180px;
	min-height: 95px;
	background-color: transparent;
	text-align: left;
	letter-spacing: 1px;
	text-indent: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 659px;
	left: 822px;
}

#pamphletu1166
{
	z-index: 97;
	width: 0.01px;
	height: 576px;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 62px;
}

#u1178
{
	z-index: 98;
	width: 941px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1179
{
	position: absolute;
	width: 739px;
	height: 343px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background: #DEDEDE url("../images/1.jpg") no-repeat center bottom;
	background-size: cover;
}

#u1181
{
	position: absolute;
	width: 179px;
	height: 121px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	left: 760px;
	background: transparent url("../images/2-u1181-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1180
{
	position: absolute;
	width: 179px;
	height: 121px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	top: 227px;
	left: 760px;
	background: transparent url("../images/3-u1180-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1227
{
	position: absolute;
	width: 179px;
	height: 121px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	top: 454px;
	left: 760px;
	background: transparent url("../images/5-u1227-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1169
{
	position: absolute;
	width: 820px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: 42px;
	left: 38px;
	-pie-background: rgba(0,0,0,0.9);
}

#u1169popup
{
	z-index: 103;
}

#u1174
{
	z-index: 104;
	width: 776px;
	height: 583px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1200
{
	z-index: 105;
	width: 772px;
	min-height: 438px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u1170
{
	z-index: 106;
	width: 776px;
	height: 583px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1213
{
	z-index: 107;
	width: 772px;
	min-height: 467px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1172
{
	z-index: 108;
	width: 776px;
	height: 583px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1230
{
	z-index: 109;
	width: 772px;
	min-height: 583px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1228
{
	z-index: 110;
	width: 776px;
	height: 583px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1241
{
	z-index: 111;
	width: 772px;
	min-height: 583px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u1203-4
{
	z-index: 112;
	width: 744px;
	min-height: 95px;
	background-color: transparent;
	color: #7F7F7F;
	text-indent: 4px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 429px;
	left: 58px;
}

#u1204-4
{
	z-index: 116;
	width: 180px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 199px;
	left: 822px;
}

#u1205-4
{
	z-index: 120;
	width: 180px;
	min-height: 95px;
	background-color: transparent;
	text-align: left;
	letter-spacing: 1px;
	text-indent: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 429px;
	left: 822px;
}

#pu119-6,#pu459
{
	width: 0.01px;
}

#u459
{
	z-index: 65;
	width: 984px;
	margin-right: -10000px;
	padding: 22px 22px 2px 18px;
}

#pu512
{
	width: 0.01px;
	margin-left: 44px;
}

#u512
{
	z-index: 66;
	width: 422px;
	min-height: 100px;
	margin-right: -10000px;
	margin-top: 14px;
}

#u1433
{
	z-index: 95;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 520px;
}

#u1433:hover
{
	width: 60px;
	height: 58px;
	min-height: 0px;
	margin: 49px -10000px 0px 0px;
}

#pu1249-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 740px;
}

#u1249-6
{
	z-index: 77;
	width: 200px;
	min-height: 50px;
}

#u1251-6
{
	z-index: 89;
	width: 200px;
	min-height: 50px;
	margin-top: 7px;
}

#u609-7
{
	z-index: 68;
	width: 980px;
	min-height: 26px;
	margin-top: 47px;
}

#u518
{
	z-index: 67;
	width: 220px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 122px;
	left: 62px;
}

#u1250-6
{
	z-index: 83;
	width: 200px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 136px;
	left: 802px;
}

#u1436
{
	z-index: 96;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
	margin-top: 71px;
	left: 382px;
}

#u1436:hover
{
	width: 60px;
	height: 58px;
	min-height: 0px;
	margin: 71px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 304px;
}

#page .verticalspacer
{
	clear: both;
}

