#u119-6
{
	background-color: transparent;
	font-size: 33px;
	line-height: 40px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u119-2
{
	font-weight: bold;
	font-style: normal;
}

#u119-4
{
	font-weight: normal;
}

#u162
{
	font-size: 17px;
	text-align: center;
	line-height: 20px;
	font-weight: bold;
}

#u162-3,#u162-5,#u162-6,#u162-8,#u162-10
{
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u162-11
{
	font-size: 17px;
	line-height: 20px;
	font-weight: bold;
}

#u451,#u134
{
	background-color: #FFFFFF;
	position: relative;
}

#u134:hover
{
	background-color: #000000;
}

#u135-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 22px;
	text-align: center;
	line-height: 26px;
	font-family: chivo, sans-serif;
	font-weight: 900;
	position: relative;
}

#u134:hover #u135-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u129
{
	background-color: #FFFFFF;
	position: relative;
}

#u129:hover
{
	background-color: #000000;
}

#u131-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 22px;
	text-align: center;
	line-height: 26px;
	font-family: chivo, sans-serif;
	font-weight: 900;
	position: relative;
}

#u129:hover #u131-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u142
{
	background-color: #FFFFFF;
	position: relative;
}

#u142:hover
{
	background-color: #000000;
}

#u143-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 22px;
	text-align: center;
	line-height: 26px;
	font-family: chivo, sans-serif;
	font-weight: 900;
	position: relative;
}

#u142:hover #u143-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u149
{
	background-color: #FFFFFF;
	position: relative;
}

#u149:hover
{
	background-color: #000000;
}

#u152-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 22px;
	text-align: center;
	line-height: 26px;
	font-family: chivo, sans-serif;
	font-weight: 900;
	position: relative;
}

#u149:hover #u152-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u151
{
	position: relative;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u149:hover #u151
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u153
{
	background-color: transparent;
}

#u463
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u463:hover
{
	background-color: #000000;
}

#u465-4
{
	background-color: transparent;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: chivo, sans-serif;
	font-weight: 900;
	position: relative;
}

#u463:hover #u465-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u154,#u156
{
	background-color: #FFFFFF;
	position: relative;
}

#u156:hover
{
	background-color: #000000;
}

#u134.MuseMenuActive,#u129.MuseMenuActive,#u142.MuseMenuActive,#u149.MuseMenuActive,#u463.MuseMenuActive,#u156.MuseMenuActive
{
	background-color: #FFFFFF;
}

#u157-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 22px;
	text-align: center;
	line-height: 26px;
	font-family: chivo, sans-serif;
	font-weight: 900;
	position: relative;
}

#u156:hover #u157-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u134.MuseMenuActive #u135-4 p,#u129.MuseMenuActive #u131-4 p,#u142.MuseMenuActive #u143-4 p,#u149.MuseMenuActive #u152-4 p,#u463.MuseMenuActive #u465-4 p,#u156.MuseMenuActive #u157-4 p
{
	color: #000000;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u162-13,#u133,#u126,#u141,#u148,#u462,#u155,#u1111,#u452
{
	background-color: transparent;
	position: relative;
}

#u117
{
	background-color: #FFFFFF;
	position: relative;
}

#u459
{
	background-color: #000000;
	position: relative;
}

#u1433
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #D74A3B url("../images/youtube.png") no-repeat center center;
}

#menuu125,#u512,#u518
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1249-6,#u1251-6,#u609-7,#u1250-6
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1436
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #ABABAB url("../images/wordpress.png") no-repeat center center;
}

#u149.MuseMenuActive #u151,#u1433:hover,#u1436:hover
{
	background-repeat: no-repeat;
	background-position: center center;
}

